:root {
    --DarkBlueBody: hsl(233, 47%, 7%);
    --DarkBlueBackground: hsl(244, 38%, 16%);
    --Violet: hsl(277, 64%, 61%);
    --VioletTinted: hsl(277, 81%, 33%);
    --white:  white;
    --WhiteDis: hsla(0, 0%, 100%, 0.75);
    --WhiteSpec: hsla(0, 0%, 100%, 0.6);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(233, 47%, 7%);
    color: white;
    margin: 0;
    font-size: 15px;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
}

.content {
    display: grid;
    text-align: center;
    margin: auto;
    max-width: min-content;
    margin-top: 10%;
}

.tint {
    background-color: var(--VioletTinted);
    display: inherit;
    border-radius: .5rem .5rem 0 0;
}

.content-image {
    mix-blend-mode: normal;
    opacity: 0.5;
    border-radius: .5rem .5rem 0 0;
}

.text-region {
    background-color: var(--DarkBlueBackground);
    border-radius: 0 0 .5rem .5rem;
}

.text-section {
    margin: 2.3rem 4rem; 
    display: flex;
    flex-direction: column;
}

.discover {
    font-size: .9rem;
    font-weight: 400;
    color: var(--WhiteDis);
    margin-bottom: 1.8rem;
    line-height: 1.8;
    margin-top: 0;
}

.extra-info {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
}

.comp {
    text-transform: lowercase;
}

.text-section h1 span {
    color: var(--Violet);
}

.spec {
    text-transform: uppercase;
    color: var(--WhiteSpec);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: .1rem;
}

@media only screen  and (max-width: 425px) {

    .content {
        max-width: max-content;
        margin: 5rem 1.8rem;
    }

    .content-image {
        width: 100%;
        height: 100%;
    }

    .text-section {
        margin: 1.5rem;
    }

    .discover {
        margin: .3rem 2rem 1.8rem;
    }
}

@media only screen and (min-width: 1440px) {

    .content {
        margin-top: 14%;
        max-width: 1080px;
        text-align: start;
    }

    .tint {
        grid-column-start: 2;
        grid-row-start: 1;
        border-radius: 0 .5rem .5rem 0;
    }

    .content-image {
        border-radius: 0 .5rem .5rem 0;
    }

    .text-region {
        border-radius: .5rem .5rem 0;
        padding-right: 2rem;
    }
    
    .discover {
        margin-right: 3rem;
    }

    .extra-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0px;
        margin-top: 1rem;
        margin-right: 3rem;
    }

}

@media only screen and (max-width: 1439px) and (min-width:768px) {

    .extra-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem 2rem;
    }

    .discover {
        margin-top: 1rem;
    }
}
